<div class="cube-article-tags">
    <i class="cube-icon cube-icon-tag" aria-hidden="true"></i>
    <% item.tags.data.forEach(function (tag) { %>
    <a href="<%- url_for(tag.path) %>">#<%= tag.name %></a>
    <% }) %>
</div>