<div class="cube-search-form">
    <div class="cube-search-control">
        <input type="text" placeholder="<%= __('search') %>" class="search-input">
        <a class="close-button">
            <i class="cube-icon cube-close" aria-hidden="true"></i>
        </a>
    </div>
    <div class="cube-search-result"></div>
</div>